*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



body{
    box-sizing: border-box;
    font-family: sans-serif;
    
   background-image: url(pics1/ICT.PNG);
   background-attachment: fixed;
   background-size: cover;
    min-height: 100vh;

}



.header{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.94;
    right: 0;
    background-color: orangered;
    padding: 0 10%;
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    border-style: groove;
    border-bottom-color: brown;
    border-top: none;
    border-right: none;
    border-left: none;
}



.logo{
    color: yellow;
    font-size: 40px;
    font-family: stancile;
    text-transform:none;
}

.logo a {
    color: white;
    font-size: 40px;
}

.logo span{
    color: blue;
}

.logo span span{
    color: yellow;
}

.search input ::focus{
    position: relative;
    color: black;
    border: none;
    display: none;
}

.search input{
    background: transparent;
    padding: 7px;
    position: relative;
    border-color: white;
    top: 24px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search ::placeholder{
    color: black;
    font-size: 20px;
}

.header button{
    background: blue;
    position: relative;
    padding: 4px;
    bottom: 14px;
    left: 187px;
    padding-left: 0;
    color: black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;

}



.navigation{
    color: black;
}

.navigation ul{
    color: black;
    list-style: none;

}

.header .navigation ul li{
    float: left;
    top: 20px;
    font-size: 30px;
    color: black;
    position: relative;
    padding: 10px;
}

.header .nevigation ul li{
    font-size: 24px;
    color: black;
    text-decoration: none;
    display: block;
    transition: all .2s ease;
}

.header .nevigation ul li a:hover{
    background: var
    (--color-primary-light);

}

.header .navigation ul li ul{
    position: absolute;
    right: 0;
    color: black;
    border-style: groove;
    border-color: brown;
    width: 280px;
    background-color: orangered;

    display: none;
}

.header.navigation ul li a ul{
    height: 100%;
    color: black;
    background-color: blue;
    width: 100%;
    padding: 121px;
    display: block;
}

.header.navigation ul li a ul.{
    position: absolute;
    right: 0;
   
    height: 100%;
    list-style: none;
    background: blueviolet;
    display: none;
}

.header.navigation ul li a ul :hover{
    background-color: orangered;
    
}

.header.navigation ul li a ul li{
    font-size: 20px;
    color: white;
    right: 330px;
    color: black;
    text-decoration: none;
    display: block;
    
    transition: all .2s ease;
}

.header.navigation ul li a ul li a{
    text-decoration: none;
    color: black;
    
}

.header .navigation ul li ul{
    font-size: 15px;
    color: black;
    text-transform: capitalize;
}

.header .navigation ul li ul li ul{
    position: absolute;
    top: 0;
    
    right: 130px;
}

.header .navigation ul li ul li ul{
    width: 100%;
    border-top: 1px solid wheat;
}

.header .navigation ul li ul li ul li ul{
    position: absolute;
    top: 50px;
    right: 100px;
    width: 150px;
}

header .navigation ul li:hover >ul{
    display: initial;
}

.header .navigation ul li ul li span{
    float: right;
    color: aliceblue;
    background: black;
    padding: 5px 10px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
}

#toggle ,
.header label{
    display: none;
}

img{
    width: 45px;
    height: 35px;
}

@media(max-width: 950px) {
    .header label {
        display: initial;
    }
}

.header{
    padding: 20px 10px;
    
}

.header.navigation{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: orangered;
}

.header.navigation ul li{
    width: 100%;
    border-top: 1px solid greenyellow;
}

.header.navigation ul li a{
    padding: 8px 30px 8px 10%;
}

.header.navigation ul li a ul{
    position: relative;
    width: 100%;
    left: 0;
}

.header.navigation ul li a ul li{
    background: greenyellow;
}

.header.navigation ul li a ul li ul{
    position: relative;
    width: 100%;
    left: 0;
}

.header.navigation ul li a ul li ul span{
    padding: 4px 10px;
    font-size: 10px;

}
.fa {
    color: black;
}

.hero{
    top: 160px;
    min-height: 100vh;
    position: relative;
    
    background: linear-gradient(white);
    opacity: 0.95;
   
}

.menu{
    height: 1000px;
    position: relative;
    width: 200px;
    color: black;
    background-color: green;
}

.menu li{
    position: relative;
    width: 300px;
}

.fa{
    color: black;
}

h1{
    position: relative;
    top: 0px;
    font-size: 50px;
    font-family: gabriola;
    text-align: center;
}

.bheader{
    bottom: 0;
    top: 200px;
    opacity: 0.9;
    height: 198px;
    text-align: center;
    opacity: 0.8;
    background-color: orangered;
    position: relative;
    border-style: groove;
    border-top-color: brown;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

/*-------index-------*/

.contents{
    position: relative;
    font-family: arial;
    font-size: 26px;
    color: green;
    padding: 10px;
}

.ict{
    color: blue;
}

.contents i{
    color: black;
}

.course-image{
    border-color: brown;
    width: 100%;
    border-style: groove;
    border-left: none;
    border-right: none;
    opacity: 0.95;
    padding-bottom: 0px;
    font-size: 50px;
}

.course-image img{
    padding: 20px;
    color: white;
    position: relative;
    border-radius: 100px;
   
    height: 180px;
    width: 180px;
}

.course-text{
    position: relative;
    font-size: 20px;
    list-style: none;
    color: white;
    left: 20px;
    right: 0;
    display: flex;
    text-align: center;
    text-decoration: none;
    margin-right: 0px;
}

.course-text li{
    position: relative;
    align-items: center;
    float: left;
    margin-right: 80px;
    justify-content: space-between;
    z-index: 1000;
}

/*------about------*/

.acourse{
    font-size: 32px;
    color: blue;
    text-align: center;
}

.course1{
    font-size: 25px;
    color: black;
    float: left;
    position: relative;
    left: 60px;
    line-height: 50px;

}

.course1 li{
    color: brown;
}

/*-----Contact us-----*/

.contact{
    
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: none;
    position: relative;
    
}


.contact p b u{
    padding: 100px;
    color: blue;
    font-size: 50px;
    font-family: microsoft mt;
    text-align: center;
    position: relative;
}

.contact form{
    top: 0px;
    left: 250px;
    width: 800px;
    height: 1100px;
    border-style: inset;
    border-color: greenyellow;
    align-items: center;
    font-size: 37px;
    background-color: white;
    position: relative;
    border-radius: 20px;
    
}

.contact form input{
    word-spacing: 20px;
    position: relative;
    padding: 9px;
    width: 100%;
   
    border-color: orangered;
    border-left: none;
    border-right: none;
    background: none;
}

.contact form input:focus{
    outline: none;
}

.contact form label{
    padding: 20px;
    position: relative;
}



.contact form button{
    border-radius: 30px;
    padding-right: 20px;

}


/*------css------*/

.css{
    font-size: 20px;
}

.css p{
    font-size: 20px;
}

.css table{
    
    position: relative;
    
    left: 100px;
    text-align: center;
    align-items: center;
}

.css table tr{
    position: relative;
    text-align: center;
    
    font-size: 20px;
    padding: 0px;
}

/*----------C++-------*/

.cpp p{
    font-size: 20px;
}

.cpp p u{
    font-size: 40px;
}

.cpp .hello-world{
    color: red;
}

.cpp2{
    position: relative;
    background: linear-gradient(orange,powderblue,yellowgreen,orange);
    height: 580px;
    top: 20px;
    
    border-style: double;
    border-color: blue;
    
}

.cpp3{
    display: flex;
    padding: 50px;
    font-size: 22px;
    position: relative;
}

.cpp2 p{
    text-align: center;
    color: blue;
    font-size: 40px;
}

.cpp-button{
    justify-content: center;
    font-size: 30px;
    left: 46%;
    align-items: center;
    text-align: center;
    position: relative;
    border-style: groove;
    border-color: black;
    top: ;
    background-color: blue;
    padding: 4px;
    padding-left: 40px;
    padding-right: 40px;
    color: black;
}



.cpp-button a{
    color: black;
    text-decoration: dotted;
}

/*-----Digital electronics------*/

.digital{
    position: relative;
    font-size: 25px;

}

.di-el{
    font-size: 60px;
    color: green;
    font-family: microsoft mt;
}

.digital p{
    font-size: 40px;
    color: blue;
}

.digital img{
    position: relative;
    width: 70%;
    height: 500px;
    align-items: center;
}

.video{
    position: relative;
    width: 90%;
    display: flex;
    height: 500px;
}

/*-------html-------*/

.html p{
    font-size: 20px;
}

.htbl p u{
    font-size: 40px;
}

.html .code{
    
    color: red;
}

.html-example{
    position: relative;
    top: 200px;
    border-style: double;
    border-width: 20px;
    border-color: blue;
    height: 500px;
    text-align: center;
    font-size: 40px;
    opacity: 0.7;
    background: radial-gradient(orange,brown,red);
}
.html-example p{
    color: yellow;
}

.html1{
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    margin-right: 100px;
    margin-left: 100px;
}



.html-button{
    justify-content: center;
    font-size: 30px;
    align-items: center;
    text-align: center;
    position: relative;
    border-style: groove;
    border-color: black;
    top: 20px;
    background-color: blue;
    padding: 4px;
    padding-left: 40px;
    padding-right: 40px;
    color: black;
}



.html-button a{
    color: black;
    text-decoration: dotted;
}

.html-video1{
    background: url(pics1/ICT.PNG);
    position: relative;
    top: 200px;
}

.html-video{
    position: relative;
    width: 80%;
    
    display: flex;
    height: 400px;
}

/*-----Communication Skills----*/

.comskills{
    color: black;
    position: relative;
}

.comskills p b u{
    font-size: 40px;
}

.comskills p{
    font-size: 30px;
    font-family: microsoft mt;
}

/*------JavaScript-----*/

.java{
    position: relative;
    font-size: 22px;

}

.java p{
    color: blue;

    font-size: 44px;
    text-align: center;
    text-shadow: yellowS;
    font-family: microsoft mt;
}

.java-img img{
    position: relative;
    width: 80%;
    left: 100px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.java-img{
    border-style: double;
    border-top-color: blue;
    opacity: 0.9;
    border-bottom-color: blue;
    border-width: 40px;
    border-left: none;
    border-right: none;
    background-color: greenyellow;
    position: relative;
}

.java-example{
    position: relative;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.java-example textarea{
    align-items: center;
    position: relative;
   display: flex;
    width: 600px;
    font-size: 25px;
    border-style: groove;
    border-color: orange;
    border-width: 3px;
    background-color: black;
    color: red;
    height: 400px;
}

/*------Hardware------*/
.hardware{
    position: relative;
    color: black;
    font-size: 25px;
}

.hardware p{
    color: blue;
    font-family: microsoft mt;
    font-size: 40px;
    text-align: center;
}

.hardware img{
    position: relative;
    width: 70%;
    height: 500px;
    padding: 10px;
    align-items: center;
}

/*-----Accounting--*/

.accounting{
   font-size: 25px; 
   position: relative;
}

.accounting p{
    font-size: 40px;
    text-align: center;
    color: blue;
    font-family: microsoft mt;
}

/*-----Database----*/
.database{
    position: relative;
    color: black;
    font-size: 25px;
}

.database p{
    color: blue;
    font-family: microsoft mt;
    font-size: 40px;
    text-align: center;
}

.database img{
    position: relative;
    width: 70%;
    height: 500px;
    align-items: center;
}

.database textarea{
    position: relative;
    width: 90%;
    height: 100%;
}